/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
svg {
  position: relative;
  width: 100vw;
  height: 100vh;
}
polyline {
  fill: white;
  stroke: lightgray;
  stroke-width: 1px;
  transition: all 0.4s ease;
}
polyline:hover {
  fill: #84b286;
  cursor: pointer;
  z-index: 10;
  animation: flash 0.1s linear;
}
@keyframes flash {
  0% {
    fill: #84b286;
  }
  100% {
    fill: white;
  }
} */

#root {
    /* display: grid;
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: repeat(10, ); */
    position: relative;
    background: #1a0;
}

div.grid-container {
    /* position: absolute */
    
}




.grid-tile-container {
    background: transparent;
    width: 80px;
    height: 92.37604307034013px;
    position: absolute;
}

.tile-background {
    display: inline-block;
    width: 100%;
    height: 100%;
}


.hexagon {
    fill: #4ee;
    /* d: path(); */
}