body {
    --hexWidth: 80px;
}

hex-grid {
    width: 1000px;
    height: 800px;
    background: #ded;
    position: relative;
    contain: content;
}

hex-grid > 
hex-tile > 
svg {
    --x: 0;
    --y: 0;
    --sign: 1;

    --hexHeight: var(--hexWidth) * 1.15470053838;
    --topPos: calc(var(--y) * var(--hexHeight) * 3 / 4);
    --leftPos: calc(var(--hexWidth) * var(--x) + var(--hexWidth) * var(--sign) / 4 + var(--hexWidth) *1/3.73);


    width: var(--hexWidth);
    height: var(--hexHeight);
    top: var(--topPos);
    left: var(--leftPos);
    fill: #5ce;
    position: absolute;
}
