body {
    --hexSize: 80px;
    --hexagon: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

hex-grid {
    width: 1000px;
    height: 800px;
    background: #ded;
    position: relative;
    contain: content;
}

hex-grid > 
hex-tile {
    --x: 0;
    --y: 0;
    --sign: 1;
    
    --topPos: calc(var(--y) * var(--hexSize) * 3 / 4);
    --leftPos: calc(var(--hexSize) * var(--x) + var(--hexSize) * var(--sign) / 4 + var(--hexSize) *1/3.73);
    clip-path: var(--hexagon);
    width: var(--hexSize);
    height: var(--hexSize);
    top: var(--topPos);
    left: var(--leftPos);
    background-color: indigo;
    position: absolute;
}