body {
    --hexSize: 80px;
    --hexagon: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 0.2s;
}

@for $i from 0 through 20 {
    [x="#{$i}"] { --x: #{$i}; }
    [sizex="#{$i}"] { --sizeX: #{$i}; }
    [sizey="#{$i}"] { --sizeY: #{$i}; }
    [life="#{$i}"] { --life: #{$i}; }

    [y="#{$i}"] { 
        --y: #{$i};
        --sign: 0;
        @if $i % 2 == 0 {
            --sign: 0;
        } @else {
            --sign: 1;
        }
    }
}