unit-edible {
    --width: 30px;
    --height: 30px;
    
    top: --height;
    
    width: var(--width);
    height: var(--height);
    border-radius: 100%;
    z-index: 10;
    background-color: rgb(131, 188, 190);
}